<%- include('./partials/layout.ejs') %>


<%- include('./partials/navbar.ejs') %>

<h1>Announces</h1>

    <% if (announces === true) { %>
        <ul>
            <% announces.forEach(function(announce){ %>
                <li>
                    <pre>
                        <%= announce %>
                    </pre>
                </li>
            <% }); %>

        </ul>
    
    <%}%>
    
    <% if (success) { %>
        <p><%= success %></p>
    <%}%>

<%- include('./partials/footer.ejs') %>